*{
    margin: 0px;
    padding: 0px;
}

/* here header is start */

.logo{
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 80px ;
    height: 80px;
    margin: 5px;
}
.navitems{
    position: absolute;
    top: 5px;
    left: 845px;
}
ul li{
    float: left;
    display: inline-flex;
    padding: 20px;
    font-size: larger;
    text-transform: uppercase;
}
a{
    color:red;
    text-decoration: none;
}
a:hover{
    color: white;
}


/* here main is start */

.bollwood-singers{
    position: absolute;
    top: 216px;
    left: 54px;
    text-transform: capitalize;
    text-shadow: 2px rgba(0, 0, 0, 0.781);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.singers{
    border: white 4px solid;
    border-radius: 40px;
    position: absolute;
    top: 326px;
    left: 19px;
    right: 19px;
    bottom: -89px;
    padding: 9px;
    
}
.one{
    border: white 4px solid;
    border-radius: 90px;  
    padding: 5px;
    margin: 2px;
    float: left;
    margin-left: 74px;
    margin-bottom: 16px;
}
.bollwood-actors{
    position: absolute;
    top: 816px;
    left: 54px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.actors{
    border: white 4px solid;
    border-radius: 40px;
    position: absolute;
    top: 945 px;
    left: 19px;
    right: 19px;
    bottom: -503px;
    padding: 9px;
}
.two{
    border: white 4px solid;
    border-radius: 90px;  
    padding: 5px;
    margin: 2px;
    float: left;
    margin-left: 75px;
}

 /*aside{
    float: left;
    width: 45px;
    height: 40px;
    color: sienna;
    background-color: grey;
    position: absolute;
    top: 25px;
    right: 20px;
}
 .asidesong{
       float: left;
    width: 45px;
    height: 40px;
    color: sienna;
    background-color: grey;
    position: absolute;
    top: 25px;
    right: 20px;
}*/ 

.musicpamplet{
    background-image: repeating-linear-gradient(29deg, red,blue,purple,red 2px);
    color: white;
    height: 824px;
    width: 1350px;
    word-spacing: 11px;
    letter-spacing: 19px;
    text-shadow: black 3px 4px 3px;
    font-size: 24px;
    text-align: center;
    margin-top: -56px;
    font-variant: all-petite-caps
}
.mp{
    background-image: repeating-linear-gradient(45deg, #00ddc8,#d74646, transparent 104px);
    float: left;
    height: 137px;
    margin: 17px;
    padding: 10px;
    margin-left: 40px;
    width: 141px;
    border: 2px solid white;
    border-radius: 85px;
}
.audio{
    position: absolute;
    top: 1500px;
    left: 15px;
}


/* here footer is start */

